body {
  font-family: inter;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.45));
  background-repeat: no-repeat;
}

.active {
  background: linear-gradient(rgba(0, 176, 28, 0.45), rgba(255, 255, 255, 1));
  background-repeat: no-repeat;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
}

h1 {
  text-align: center;
  padding-top: 115px;
  font-size: clamp(1.063rem, 0.652rem + 2.05vw, 2.5rem);
  line-height: 48px;
  font-weight: bold;
  margin-bottom: 65px;
}

h2 {
  text-align: center;
  font-size: clamp(1.063rem, 0.652rem + 2.05vw, 2.5rem);
  line-height: 48px;
  margin-bottom: 105px;
}

.loader,
.loader:before,
.loader:after {
  background: #65abf8;
  -webkit-animation: load1 1s infinite ease-in-out;
  animation: load1 1s infinite ease-in-out;
  width: 1em;
  height: 4em;
}

.loader {
  color: #65abf8;
  text-indent: -9999em;
  margin: 88px auto;
  position: relative;
  font-size: 11px;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: "";
}

.loader:before {
  left: -1.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.loader:after {
  left: 1.5em;
}

@-webkit-keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 4em;
  }

  40% {
    box-shadow: 0 -2em;
    height: 5em;
  }
}

.wrapper {
  text-align: center;
}

.button {
  width: 40%;
  font-size: clamp(1.063rem, 0.795rem + 1.34vw, 2rem);
  padding: 11px;
  border-radius: 10px;
  color: rgba(255, 255, 255, 1);
  background-color: rgba(0, 148, 255, 1);
  border: none;
  cursor: pointer;
}

.button:hover {
    border: 1px solid rgba(0, 148, 255, 1);
    background: transparent;
    color: rgba(0, 148, 255, 1);
    transition: 0.5s;
}

@media (max-width: 1199px) {
  .container {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  h1 {
    padding-top: 50%;
    margin-bottom: 20px;
  }

  h2 {
    margin-bottom: 50px;
  }

  .button {
    width: 50%;
  }
}
